@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

.passbody{
    overflow: hidden;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.pass {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.forgot{
    max-width: 978px;
    width: 70vw;
    display:flex;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    background-color: white;
    margin: 100px;
}

.forgot span{
    color: #adb5bd;
}

#passform{
    max-width: 320px;
    width: 100vw;
    margin: 2em auto;
}
  
#passform >  input, .passbtn{
    border: 1px solid #e9ecef;
    padding: .9em 1em;
}
  
#passform > input:focus{
    outline: none;
    border: 1px solid #0f0c29;
}
  
#passform > .passbtn{
    background-color: #003049;
    color: #e9ecef;
    font-size: 1em;
    cursor: pointer;
}
  
.passflex{
    display: flex;
    gap: 1em;
}
  
.passflex-col{
    flex-direction: column;
}

.forgot .col-5{
    margin: auto;
    /* padding: 1em 0; */
    padding: 3px;
    width: 400px;
    height: 100%;
    margin-left: 255px;
}

.back:hover{
    color: rebeccapurple;
}

.back{
    text-decoration: none;
    color: #0f0c29;
}