.k:hover {
    transition: all 0.3s linear;
    transform: scale(1.05);
}
.k {
    color: black;
}
.k1:hover {
    transition: all 0.3s linear;
    transform: scale(1.05);
    box-shadow: 0px 0px 5px 4px #dcdde1;
}
.x p.d:hover {
    color: blue;
}
.d {
    text-align: center;
}
.m {
    margin-left: 19%;
}
.n {
    margin-left: 4.5%;
}